.Widgetsm {
  flex: 2;
  padding: 2em;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
  margin-left: 2em;
  border-radius: 1em;
}

.title{
    padding: 1em;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .8em;

}

.user img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  cursor: pointer;
}

.userInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .8em;
    cursor: pointer;
}
